name: Java deploy with Maven

on: 
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Deploy
      run: mvn -B clean deploy -s ci_settings.xml
      env:
          maven_access_user: ${{ secrets.GITHUB_SVC_USER }}
          maven_access_token: ${{ secrets.GITHUB_TOKEN }}
#          github_repository_owner: ${{ github.repository_owner }} 
#          github_repository_name: ${{ github.event.repository.name }}
