# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java release with Maven

on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Release
      run: |
        git config user.name ${{ secrets.GITLAB_SVC_USER }}; git config user.email "${{ secrets.GITLAB_SVC_USER }}@users.noreply.github.com"
        mvn -B release:prepare -s ci_settings.xml
        mvn -B release:perform -s ci_settings.xml
      env:
          maven_access_user: ${{ secrets.GITLAB_SVC_USER }}
          maven_access_token: ${{ secrets.GITHUB_TOKEN }}
