# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java integration test with Maven

on: workflow_dispatch

jobs:
  integrationTest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Integration test
      run: mvn -B test-compile failsafe:integration-test failsafe:verify --file pom.xml -s ci_settings.xml
